body {
    font-family: 'Helvetica', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #444;
    font-size: 2.5em;
    margin-bottom: 30px;
}
 
.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
} 

.input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}
/* 
#tableHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

} */

#table {
    width: 100vw;
    border-collapse: collapse;
    /* line-height: 0px; */
}

#table th,
#table td {
    border: 1px solid #ddd;
    padding: 12px;
    transition: background-color .3s ease;
}

#table td {
    font-size: small;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    transition: max-width .3s ease;
                       
}


#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}
/* 
#table th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    position: sticky;
} */


#table th {
    text-align: left;
    font-weight: lighter;
    background-color: #4CAF50;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    /* Increase z-index if table header is not appearing on top */
}

#table {
    max-height: 500px;
    overflow-y: auto;
    display: block;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    transition: color .3s ease;
}

.dropdown-button i {
    margin-right: 5px;
}

.dropdown-button:hover {
    color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 4px;
}

.dropdown-content label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.dropdown-content input {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
}

.show {
    display: block;
}

.highlight {
    background-color: yellow !important;
    transition: background-color .3s ease;
}

.strikethrough {
    text-decoration: line-through;
    color: #777;
}



#addRow,
#deleteRow,
#scrollToTop,
#searchHighlight,
#resetOrder
 {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color .3s ease;
}

#search {
    width: 70%;
}

#addRow,
#deleteRow,
#scrollToTop,
#searchHighlight,
#resetOrder {
    background-color: #4CAF50;
    color: #fff;
}

#addRow:hover,
#deleteRow:hover,
#scrollToTop:hover,
#searchHighlight:hover
#resetOrder:hover {
    background-color: #45a049;
}